.jobs-container {
	flex-flow: row wrap;
	padding: 50px 0;
	display: flex;


	.job {
		@include set-size(100%, auto);
		border: 3px solid $ligth-green;
		padding: 20px 0 0 10px;		
		color: $default-grey;
		position: relative;
		min-height: 205px;
		max-width: 280px;
		overflow: hidden;
		cursor: pointer;

		.job__mouseover {
			@include set-size(100%, 231px);
			transform: translate3d(0px, 0px, 0px);
			transition: transform .5s ease-in-out;
			background-color: $default-grey;
			padding: 20px 0 0 10px;
			position: absolute;
			top: 230px;
			left: 0;

			.calltoaction {
				@include apply-font('railway', 0.8em);
				background-color: $background-blue;
				position: absolute;
				letter-spacing: 1px;
				padding: 5px;
			}

			.job__title--over {
				@include apply-font('railway', 1.4em);
				transform: translate3d(0px, 0px, 0px);
				transition: transform .5s ease-in-out;
				text-decoration: underline;
				color: $background-blue;
				margin-bottom: 10px;
				letter-spacing: 2px;
			}

			.job__description--over {
				@include apply-font('fabrica', 1em);
				@include set-size(90%, auto);
				transform: translate3d(0px, 0px, 0px);
				transition: transform .5s ease-in-out;
				color: $background-blue;
				letter-spacing: 0.5px;
				margin-bottom: 10px;
				line-height: 1.2em;
			}
		}

		.job__title {
			@include apply-font('railway', 1.4em);
			transform: translate3d(0px, 0px, 0px);
			transition: transform .5s ease-in-out;
			text-decoration: underline;
			margin-bottom: 10px;
			letter-spacing: 2px;
		}

		.job__description {
			@include apply-font('fabrica', 1em);
			@include set-size(90%, auto);
			transform: translate3d(0px, 0px, 0px);
			transition: transform .5s ease-in-out;
			letter-spacing: 0.5px;
			line-height: 1.2em;
		}
	}

	.job--even {
		@extend .job;
		border: 3px solid $dark-green;
		margin-left: 0;
	}

	.job--odd {
		@extend .job--even;
		border: 3px solid $ligth-green;
	}

	.job:hover {
		.job__mouseover {
			transform: translate3d(0px, -230px, 0px);
		}

		.job__title {
			transform: translate3d(0px, -230px, 0px);
		}

		.job__description {
			transform: translate3d(0px, -200px, 0px);
		}
	}
}

@include maxWidth(936) {
	.jobs-container {
		@include set-size(90%, auto);
		@include center-x;
		position: relative;
	}
}

@include maxWidth(762){
	.jobs-container {
		.job {
			max-width: 100%;
		}
	}
}