/* line 17, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
elements-of-type(html5-block) {
  display: block; }

/* line 85, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.show {
  display: block; }

/* line 89, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.hide {
  display: none; }

/* line 93, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.bold {
  font-family: ubuntubold; }

/* line 97, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.margin-left {
  margin-left: 160px; }

/* line 101, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.zero-margin {
  margin-right: 0 !important; }

/* line 105, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.display-inline {
  display: inline-block; }

/* line 1, /Users/fee/Documents/sites/portfolio/src/sass/_general.scss */
* {
  margin: 0; }

/* line 5, /Users/fee/Documents/sites/portfolio/src/sass/_general.scss */
body, html {
  background-color: white;
  font-size: 16px;
  height: 100%; }
