/* line 17, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/fee/Documents/sites/portfolio/src/sass/compass/reset/_utilities.scss */
elements-of-type(html5-block) {
  display: block; }

/* line 85, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.show {
  display: block; }

/* line 89, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.hide {
  display: none; }

/* line 93, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.bold {
  font-family: ubuntubold; }

/* line 97, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.margin-left {
  margin-left: 160px; }

/* line 101, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.zero-margin {
  margin-right: 0 !important; }

/* line 105, /Users/fee/Documents/sites/portfolio/src/sass/_utils.scss */
.display-inline {
  display: inline-block; }

@font-face {
  font-family: 'fabrica';
  src: url('../fonts/fabrica-webfont.eot');
  src: url('../fonts/fabrica-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fabrica-webfont.woff2') format('woff2'), url('../fonts/fabrica-webfont.woff') format('woff'), url('../fonts/fabrica-webfont.ttf') format('truetype'), url('../fonts/fabrica-webfont.svg#fabricaregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'railway';
  src: url('../fonts/railway-webfont.eot');
  src: url('../fonts/railway-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/railway-webfont.woff2') format('woff2'), url('../fonts/railway-webfont.woff') format('woff'), url('../fonts/railway-webfont.ttf') format('truetype'), url('../fonts/railway-webfont.svg#fabricaregular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 1, /Users/fee/Documents/sites/portfolio/src/sass/_general.scss */
* {
  margin: 0; }

/* line 5, /Users/fee/Documents/sites/portfolio/src/sass/_general.scss */
body, html {
  background-color: #d7dffc;
  font-size: 16px;
  height: 100%; }

/* line 11, /Users/fee/Documents/sites/portfolio/src/sass/_general.scss */
#wrapper {
  width: 100%;
  height: 100%; }

/* line 16, /Users/fee/Documents/sites/portfolio/src/sass/_general.scss */
html:before, html:after, body:before, body:after {
  content: "";
  background: #414141;
  position: fixed;
  display: block;
  z-index: 5; }

/* line 24, /Users/fee/Documents/sites/portfolio/src/sass/_general.scss */
html:before {
  height: 10px;
  right: 0;
  left: 0;
  top: 0; }

/* line 30, /Users/fee/Documents/sites/portfolio/src/sass/_general.scss */
html:after {
  width: 10px;
  bottom: 0;
  right: 0;
  top: 0; }

/* line 36, /Users/fee/Documents/sites/portfolio/src/sass/_general.scss */
body:before {
  height: 10px;
  bottom: 0;
  right: 0;
  left: 0; }

/* line 42, /Users/fee/Documents/sites/portfolio/src/sass/_general.scss */
body:after {
  width: 10px;
  bottom: 0;
  left: 0;
  top: 0; }

/* line 1, /Users/fee/Documents/sites/portfolio/src/sass/_nav.scss */
nav {
  font-family: 'railway';
  font-size: 1.1em;
  width: 280px;
  height: auto;
  display: inline;
  float: left;
  padding: 50px 0 0 50px;
  color: #414141; }
  /* line 8, /Users/fee/Documents/sites/portfolio/src/sass/_nav.scss */
  nav .logotype {
    margin-bottom: 25px; }
  /* line 12, /Users/fee/Documents/sites/portfolio/src/sass/_nav.scss */
  nav li {
    margin-bottom: 5px;
    cursor: pointer; }

@media screen and (max-width: 936px) {
  /* line 19, /Users/fee/Documents/sites/portfolio/src/sass/_nav.scss */
  nav {
    display: block;
    float: none; } }

/* line 1, /Users/fee/Documents/sites/portfolio/src/sass/_job.scss */
.jobs-container {
  flex-flow: row wrap;
  padding: 50px 0;
  display: flex; }
  /* line 7, /Users/fee/Documents/sites/portfolio/src/sass/_job.scss */
  .jobs-container .job, .jobs-container .job--even, .jobs-container .job--odd {
    width: 100%;
    height: auto;
    border: 3px solid #47b8e0;
    padding: 20px 0 0 10px;
    color: #414141;
    min-height: 205px;
    max-width: 280px;
    cursor: pointer; }
    /* line 16, /Users/fee/Documents/sites/portfolio/src/sass/_job.scss */
    .jobs-container .job .job__title, .jobs-container .job--even .job__title, .jobs-container .job--odd .job__title {
      font-family: 'railway';
      font-size: 1.5em;
      text-decoration: underline;
      margin-bottom: 10px;
      letter-spacing: 2px; }
    /* line 23, /Users/fee/Documents/sites/portfolio/src/sass/_job.scss */
    .jobs-container .job .job__description, .jobs-container .job--even .job__description, .jobs-container .job--odd .job__description {
      font-family: 'fabrica';
      font-size: 1em;
      width: 90%;
      height: auto;
      letter-spacing: 0.5px;
      line-height: 1.2em; }
  /* line 31, /Users/fee/Documents/sites/portfolio/src/sass/_job.scss */
  .jobs-container .job--even, .jobs-container .job--odd {
    border: 3px solid #34314c;
    margin-left: 0; }
  /* line 37, /Users/fee/Documents/sites/portfolio/src/sass/_job.scss */
  .jobs-container .job--odd {
    border: 3px solid #47b8e0; }

@media screen and (max-width: 936px) {
  /* line 44, /Users/fee/Documents/sites/portfolio/src/sass/_job.scss */
  .jobs-container {
    width: 90%;
    height: auto;
    margin: 0 auto 0 auto;
    position: relative; } }

@media screen and (max-width: 762px) {
  /* line 53, /Users/fee/Documents/sites/portfolio/src/sass/_job.scss */
  .jobs-container .job, .jobs-container .job--even, .jobs-container .job--odd {
    max-width: 100%; } }
